{% extends 'main/header.html'%}

{% load crispy_forms_tags %}


{% block content %}


<!--  Timepicker here probably -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />


<!--  Select Multiple here probably -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


	
	
	<form method = "POST" enctype="multipart/form-data">
		{% csrf_token %}
		
		{{form1|crispy}}
		{{form2|crispy}}
		{{form3|crispy}}
		{{form4|crispy}}
		<!-- Default map with 300x400 dimensions -->
		


		<div class ="row">
		<div class ="col-sm-6">
		<div class = "form-group">
		<select class="selectpicker form-control" multiple data-live-search="true" name = "select">
			{% for i in General_Subjects %}
				<option value={{i.id}}>{{i.Name}}</option>
			{% endfor %}
		</select>
		<script>
			$('select').selectpicker();
		</script>
		</div>
		</div>
		</div>

		<div class ="row">
		<div class ="col-sm-6">
		<div class = "form-group">		
		<select class="selectpicker form-control" multiple data-live-search="true" name = "select2">
			{% for i in Specific_Subjects %}
				<option value ={{i.id}}>{{ i.get_board_and_name }}</option>
			{% endfor %}
		</select>
		<script>
			$('select2').selectpicker();
		</script>
		</div>
		</div>
		</div>

		Check which of the days you can spare to teach also specify time for each of them. You can also add others or change these later but muust specify atleast one slot of atleast one hour now. (Note that only the hour will be captured)

		<br />
		<br />
	
		<div class = "row">
		{% for i in Days %}
		<div class = "col-sm-4">
		
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id={{i.Name}} name= "Dayss" value={{i.id}}>
				<label class="custom-control-label" for={{i.Name}}>{{i.Name}}</label>
			</div>

		<!--	Old code for refrence purpose

			  <label>
				<input type="checkbox" id = {{i.Name}} class="filled-in"  name= "Dayss"
				value={{i.Name}} >
				<span>{{i.Name}}</span>
			  </label>

		-->

		<input id="{{i.Name}}TimeStart"    disabled width="310" name = {{i.id}}TimeStart />
		<script>
			$({{i.Name}}TimeStart).timepicker({
				uiLibrary: 'bootstrap4', format: 'hh tt'
			});
		</script>
		
		<input id="{{i.Name}}TimeEnd"   disabled name={{i.id}}TimeEnd width="310" name = {{i.Name}}TimeEnd/>
		<script>
			$({{i.Name}}TimeEnd).timepicker({
				uiLibrary: 'bootstrap4', format: 'hh tt'
			});
		</script>

		<!--	Old code for refrence purpose

		  <p>
		  <label>Time Start</label>
		  <input type="text" name={{i.Name}}TimeStart class="timepicker">
		  </p>

		  <p>
		  <label>Time End </label>
		  <input type="text" class="timepicker" name = {{i.Name}}TimeEnd>
		  </p>
		  
		-->

		</div>
		{% endfor %}
		</div>
		<br />

		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="defaultUnchecked" name = "AgeCheckNewTutor">
			<label class="custom-control-label" for="defaultUnchecked">I am over 18 years old</label>
		</div>
		
		
		<br />
		<button class='btn' style = 'background-color:blue; color:white'  type = 'submit'>register</button>

	</form>

	<br />
	If you already have an account, <a href ='/login'><strong>login</strong></a> instead.
	

{% endblock %}
