{% extends 'main/header.html' %}

{% block content %}

    <div class="row">
            <div class="col s12 m6 l4">
                <a href="/register/student", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">Register as Student</div>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href="/register/tutor", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">Register as Tutor</div>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>            
			<div class="col s12 m6 l4">
                <a href="/register/broker", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">Register as Agent / Third Party</div>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>    
	</div>
{% endblock %}
