{% extends 'main/header.html'%}

{% load crispy_forms_tags %}

{% block content %}

	<form method = "POST"  enctype="multipart/form-data">
		{% csrf_token %}
		{{form1|crispy}}
		{{form3|crispy}}
		{{form2|crispy}}
		
		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="defaultUnchecked" name = "AgeCheckNewTutor">
			<label class="custom-control-label" for="defaultUnchecked">I am over 18 years old</label>
		</div>
		
		<br />
		Please fill guardian information if you are not over 18 years old
		{{form4|crispy}}
		<button class='btn' style = 'background-color:blue; color:white'  type = 'submit'>register</button>
	</form>
	<br />
	If you already have an account, <a href ='/login'><strong>login</strong></a> instead.
	
{% endblock %}
