{% extends 'main/header.html' %}

{% block content %}


<div class ="row">

	<div class="col-sm-4">
		<div class="card" style="width: 20rem;">
			<div class="card-body">
				<h5 class="card-title">Register as Student</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="/register/student" class="btn btn-primary">Register</a>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="card" style="width: 20rem;">
			<div class="card-body">
				<h5 class="card-title">Register as Tutor</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="/register/tutor" class="btn btn-primary">Register</a>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="card" style="width: 20rem;">
			<div class="card-body">
				<h5 class="card-title">Register as Agent / Third Party</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="/register/broker" class="btn btn-primary">Register</a>
			</div>
		</div>
	</div>

</div>

<!--	Old Code for refrence purpose

    <div class="row">
            <div class="col s12 m6 l4">
                <a href="/register/student", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">Register as Student</div>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href="/register/tutor", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">Register as Tutor</div>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>            
			<div class="col s12 m6 l4">
                <a href="/register/broker", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">Register as Agent / Third Party</div>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>    
	</div>
	
-->

{% endblock %}
