{% extends 'main/header.html'%}


{% block content %}


	<div class = 'row' >
	<div class="form-group">
		<textarea id="chat-log" cols="100" readonly rows="16" class = "form-control rounded-0" style= "background-color: white; color:blue" contenteditable = "true"></textarea><br/>
    <input id="chat-message-input" type="text" size="100" class = "form-control"/><br/>
    <input id="chat-message-submit" type="button" value="Send" class = 'btn' style = 'background-color:blue; color:white'/>
	</div>    
	</div>

<script>
    var roomName = {{ room_name_json }};
	var from = {{ from }};
	var to = {{ to }};
	var textarea = document.getElementById('chat-log');
	
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

	chatSocket.onopen = function(e) {
		fetchMessages();
	};

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
		if (data['command'] === 'messages'){
			if (data['requestuser'] == from){
				for ( let i = 0; i < data['messages'].length; i++){
					createMessage(data['messages'][i]);
				}
			}
		} else if (data['command'] === 'New_Message') {
			createMessage(data);
		}
    };

	function fetchMessages(){
		chatSocket.send(JSON.stringify({
			'From':from,
			'To':to,
			'command' : 'fetch_n_messages',
			'requestuser': from,
		}))
	};

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };


    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
			'from':from,
			'to':to,
			'command' : 'New_Message',
        }));

        messageInputDom.value = '';
    };
	
	function createMessage(data){
        var message = data['message'];
		var From = data['From'];
        document.querySelector('#chat-log').value += (From + ':\t' + message + '\n');
		if (textarea.scrollHeight - textarea.scrollTop < 421){
			textarea.scrollTop = textarea.scrollHeight;
			}
		if (data['From'] != from) {
			if(data['status'] == "Pending_View"){
				chatSocket.send(JSON.stringify({
					'id': data['id'],
					'status': data['status'],
					'command': 'receiveMessage',
				}))
			}
		}
	};
	
</script>
	
{% endblock %}
