<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="/">Tutor Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

	{% if user.is_authenticated %}

      <li class="nav-item active">
        <a class="nav-link" href="/messages">
		Messages
		{% if messageCount > 0 %}
			<span style="color:blue">{{ messageCount}} </span>
		{% endif %}
		<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/contracts">Contracts</a>
      </li>

	  {% if user.is_authenticated and user.myuser.Type == "CUser" and user.myuser.cuser.Type == "Student" %}
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
	{% endif %}


      <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/password_change">Change Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

	{% else %}

      <li class="nav-item active">
        <a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
	
	{% endif %}


    </ul>


  </div>
</nav>

<!--	Old code for refrence purposes

		<nav>
		<div class="nav-wrapper">
		  <a href="/" class="brand-logo">->  Tutor Management System</a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/">Home</a></li>
			{% if user.is_authenticated %}
				<li><a href="/account">Account</a></li>
				<li><a href="/logout">Logout</a></li>
			{% else %}
				<li><a href="/register">Register</a></li>
				<li><a href="/login">Login</a></li>
			{% endif %}
		  </ul>
		</div>
	</nav>	
	
-->